@using System.Globalization
@using System.IO;

@using MyMarket.Web.Models.Ad

@model AdViewModel

<div class="ad-content-div">
    <a href="~/Ads/@Model.Id">
        <img src="@Url.Content("~/Content/Images/Post/" + Path.GetFileName(Model.UrlPath))"  alt="Ad Image" />
        <h4>@Model.Title</h4>
        <p>
            <span class="ad-price">&#8364 @Model.Price</span>
            <span class="ad-created-date">@Model.CreatedOn.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</span>
        </p>
        <p>
            <span class="glyphicon glyphicon-eye-open"><span>@Model.Visits</span></span>
            <span class="glyphicon glyphicon-thumbs-up"><span>@Model.Likes</span></span>
            <span class="glyphicon glyphicon-comment"><span>@Model.Comments</span></span>
        </p>
    </a>
</div>