@using System.Globalization

@using MyMarket.Web.Models.Home

@model SelectedAdsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h2>Latest Ads</h2>
<div class="row">
    @foreach (var ad in Model.LatestAds)
    {
        <div class="col-md-3 topAd">
            @{
                var base64 = Convert.ToBase64String(ad.Picture);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" class="img-responsive" />
            <h4>@ad.Title</h4>
            <p>
                <span class="adPrice">&#8364 @ad.Price</span>
                <span class="adCreatedDate">@ad.CreatedOn.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</span>
            </p>
            <p>
                <span class="glyphicon glyphicon-eye-open"><span>@ad.Visits</span></span>
                <span class="glyphicon glyphicon-thumbs-up"><span>@ad.Likes</span></span>
                <span class="glyphicon glyphicon-comment"><span>@ad.Comments</span></span>
            </p>
        </div>
    }
</div>

<h2>Most Liked Ads</h2>
<div class="row">
    @foreach (var ad in Model.MostLiked)
    {
        <div class="col-md-3 topAd">
            @{
                var base64 = Convert.ToBase64String(ad.Picture);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" />
            <h4>@ad.Title</h4>
            <p>
                <span class="adPrice">&#8364 @ad.Price</span>
                <span class="adCreatedDate">@ad.CreatedOn.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</span>
            </p>
            <p>
                <span class="glyphicon glyphicon-eye-open"><span>@ad.Visits</span></span>
                <span class="glyphicon glyphicon-thumbs-up"><span>@ad.Likes</span></span>
                <span class="glyphicon glyphicon-comment"><span>@ad.Comments</span></span>
            </p>
        </div>
    }
</div>