@using System.Globalization
@using System.IO;

@using MyMarket.Common;
@using MyMarket.Web.Models.Ad

@model AdViewModel
@{
    ViewBag.Title = Model.Title;
}

<h3>@ViewBag.Title</h3>

<div class="container single_top main-content">
    @if (TempData["Addition"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Addition"]
        </div>
    }

    <div class="row">
        <div class="col-md-3 ad-image">
            <img src="@Url.Content(NativeConstants.IMAGES_PATH + Path.GetFileName(Model.UrlPath))" alt="Ad Image" />
        </div>
        <div class="col-md-9">
            <div class="ad-description">@Html.Raw(Model.Description)</div>
            <p class="published-ad">Published on: @Model.CreatedOn.ToString("dd/MMMM/yyyy", CultureInfo.InvariantCulture)</p>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <h5>@Model.Comments.Count() Comments</h5>

            @if (this.User.Identity.IsAuthenticated)
            {
                <div id="PostCommentDiv">
                    @using (this.Ajax.BeginForm("AddComment", null,
                    new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "Comments",
                        InsertionMode = InsertionMode.InsertBefore
                    },
                    new { }))
                    {
                        <div>
                            <textarea id="PostComment" maxlength="1000" name="content" placeholder="Add a comment..."></textarea>
                            <input type="hidden" name="adId" value="@Model.Id" />
                            <input type="submit" class="btn btn-primary post-comment-button" value="Comment" />
                        </div>
                    }
                </div>
            }
            else
            {
                @Html.Partial("_UnauthorizedUserPartial", "Please login into your account in order to comment the ad.")
            }

            <div id="Comments">
                @foreach (var comment in Model.Comments)
                {
                    @Html.Partial("_CommentPartial", comment)
                }
            </div>
        </div>
    </div>
</div>