@using System.Globalization
@using System.IO;

@using MyMarket.Common;
@using MyMarket.Web.Models.Ad

@model AdViewModel
@{
    ViewBag.Title = Model.Title;
}

<h3>@ViewBag.Title</h3>

<div class="container single_top main-content">
    @if (TempData["Addition"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Addition"]
        </div>
    }

    <div class="row">
        <div class="col-md-3 ad-image">
            <img src="@Url.Content(NativeConstants.IMAGES_PATH + Path.GetFileName(Model.UrlPath))" alt="Ad Image" />
        </div>
        <div class="col-md-9">
            <p class="published-ad">Price: <span>@Model.Price</span></p>
            <div class="ad-description">@Html.Raw(Model.Description)</div>
            <p class="published-ad">Published on: @Model.CreatedOn.ToString("dd/MMMM/yyyy", CultureInfo.InvariantCulture)</p>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <h5>@Model.Comments.Count() Comments</h5>

            @if (this.User.Identity.IsAuthenticated)
            {
                <div id="PostCommentDiv">
                    @using (this.Ajax.BeginForm("Post", "Comments", null,
                    new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "Comments",
                        OnComplete = "onAjaxRequestComplete",
                        InsertionMode = InsertionMode.InsertBefore
                    },
                    new { }))
                    {
                        <div>
                            <textarea id="PostComment" maxlength="1000" name="content" placeholder="Add a comment..."></textarea>
                            <input type="hidden" name="adId" value="@Model.Id" />
                            <input type="submit" class="btn btn-primary post-comment-button" value="Comment" />
                        </div>
                    }
                </div>
            }
            else
            {
                @Html.Partial("_UnauthorizedUserPartial", "Please login into your account in order to comment the ad.")
            }

            <div id="Comments">
                @foreach (var comment in Model.Comments)
                {
                    @Html.Partial("_CommentPartial", comment)
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditCommentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="CommentContent" class="col-form-label">Comment:</label>
                    <textarea class="form-control" id="CommentContent"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="UpdateCommentBtn" class="btn btn-primary" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteCommentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this comment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="DeleteCommentBtn" class="btn btn-primary" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="CommentId" />

@section Scripts {
<script>
        function onAjaxRequestComplete() {
            $('#PostComment').val('');
        }

        $('#Comments').on('click', '.glyphicon-edit', function () {
            var id = $(this).attr('data-id');
            var content = $(this).attr('data-content');

            $('#CommentId').val(id);
            $('#CommentContent').val(content);
            $('#EditCommentModal').modal();
        });

        $('#Comments').on('click', '.glyphicon-remove-circle', function () {
            var id = $(this).attr('data-id');

            $('#CommentId').val(id);
            $('#DeleteCommentModal').modal();
        });

        $('#UpdateCommentBtn').on('click', function () {
            var id = $('#CommentId').val();
            var content = $('#CommentContent').val();

            $.ajax({
                type: 'POST',
                url: '@(Url.Action("Update", "Comments"))',
                data: {
                    id: id,
                    content: content
                },
                success: function (response) {
                    $('#Comment-' + id + ' .comment-content').html(content);
                },
                error: function (response) {
                    alert('Unable to update comment');
                    console.log(response);
                }
            });
        });

        $('#DeleteCommentBtn').on('click', function () {
            var id = $('#CommentId').val();

            $.ajax({
                type: 'POST',
                url: '@(Url.Action("Delete", "Comments"))',
                data: { id: id },
                success: function (response) {
                    $('#Comment-' + id).remove();
                },
                error: function (response) {
                    alert('Unable to delete comment');
                    console.log(response);
                }
            });
        });
</script>
}