@using MyMarket.Common;
@using MyMarket.Web.Models.Ad

@model AdCreateViewModel
@{
    ViewBag.Title = "Post Ad";
}

@section Styles {
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet" />
}

@if (this.User.Identity.IsAuthenticated)
{
    <h2>@ViewBag.Title</h2>

    using (Html.BeginForm("Post", "Ads", FormMethod.Post, new { id = "CreateAdForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(a => a.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(a => a.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter title..." }})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.CategoryId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name", 1), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Price, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(a => a.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter price, e.g. 0.00 " }})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(a => a.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter description..." }})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.MainPicture, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(a => a.MainPicture, new { type = "file" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.OtherPictures, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="input-group">
                    <p>
                        @Html.TextBoxFor(a => a.OtherPictures, new { type = "file" })
                        @Html.TextBoxFor(a => a.OtherPictures, new { type = "file" })
                        @Html.TextBoxFor(a => a.OtherPictures, new { type = "file" })
                    </p>
                    <p>
                        <strong>
                            Allowed formats:
                            @ValidationConstants.JPG_IMAGE,
                            @ValidationConstants.JPEG_IMAGE,
                            @ValidationConstants.PNG_IMAGE,
                            @ValidationConstants.GIF_IMAGE
                        </strong>
                        <br />
                        <strong>Maximum size: @ValidationConstants.AD_IMAGE_CONTENT_LENGTH_IN_KILOBYTES kb</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-6">
                <input type="submit" class="btn btn-primary" value="Create" />
                <input type="reset" class="btn btn-default" value="Clear" />
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
    <script>
        $(document).ready(function () {
            $('#Description').summernote({
                minHeight: 400,
                maxHeight: 400
            });
        });
    </script>
}